@tailwind base;
@tailwind components;
@tailwind utilities;



#root {
    padding: 0px
}

.menu li > *:not( .menu-title, details, .btn){
  border: transparent solid 2px;
  background-color: transparent;
}

.menu li > *:not(ul, .menu-title, details, .btn):hover {
  border: white solid 2px;
  background-color: transparent;
}

.menu li > *:not(ul, .menu-title, details, .btn):active {
  background-color: white;
  color: rgb(29 78 216);
}
